*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(89, 89, 89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#border-style{
    width: 500px;
    background-color: black;
    height: 735px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 30px;
    border-radius: 10px;
}


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 10px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid black;
    outline: none;
    background-color: rgb(205, 133, 0);
    border-radius: 50%;
    text-align: center;
}

.calculator-grid > button:hover{
    background-color: orange;
}

.calculator-grid > .greys {
    background-color: rgb(79, 79, 79);
}

.calculator-grid > .greys:hover {
    background-color: rgba(109, 109, 109, 0.9);
}

#grey {
    background-color: rgb(144, 144, 144);
    color: black;
}

#grey:hover {
    background-color: rgb(174, 174, 174);
}

.calculator-grid > .span-two {
    grid-column: span 2;
    border-radius: 50px;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px;
}

.output .previous-operand {
    color: rgb(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

#footer {
    display: flex;
    align-items: center;
    gap: 4px;
}