body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#screen{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 393px;
    padding: 16px;
    border-radius: 5px
}
#upbox{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
#downbox{
    display: flex;
    justify-content: flex-end;
    font-size: 35px
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: gray;
    padding: 25px;
    gap: 8px;
    border-radius: 15px;
}

.btn{
    width: 100px;
    height: 100px;
    font-size: medium;
    font-weight: 800;
    border-radius: 5px;
    
}

.bnt{
    display: flex;
    gap: 8px;
}

.btn-box{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    
}
.btn-up{
    font-weight: 800;
    padding: 30px;
    width: 209px;
    border-radius: 5px;
}
#CLEAR{
    background-color: #FFAAAA;
    
}

#DELETE{
    background-color: #AAAAFF;
}
